$bold: 700; $regular:400; $light:300;
$center: center; $left: left; $right:right;
$roboto:'Roboto', sans-serif;
$roboto-condense:'Roboto Condensed', sans-serif;
$size-20:20px;
$upper: uppercase;
$lower: lowercase;
$cap: capitalize;
$transparent: transparent;
/* For Color */
$header-bg:#585858;
$black: #000000;
$white: #ffffff;
$light-black:#525252;
$light-grey:#818181;

$green-normal:#a2b70f;
$green-hover:#bbd124;
$green-active:#829023;

$orange-normal:#eca816;
$orange-hover:#f7c55a;
$orange-active:#d7970f;

$tan-normal:#94926a;
$tan-hover:#bab897;
$tan-active:#6f6d43;

$grey-normal:#949494;
$grey-hover:#e5e5e6;
$grey-active:#585851;
$grey-light:#c6c6c6;
$grey-tbl-light:#aaa9a9;

$black-normal:#383737;
$black-hover:#494949;
$black-active:#262626;
$table-heading-color:#aaa9a9;

$blue-normal:#00a7ee;
$blue-hover:#3ebcf1;
$blue-active:#128bbf;

$mint-normal:#1cb495;
$mint-hover:#29caa9;
$mint-active:#258b76;

$BoxWrapper-bg:#f4f4ee;
$black-data:#373737;

$radio-bg-color:#f4f4f4;
$table-odd:#e5e5e6;
$icon-color:#c6c6c6;
$border-color:#e8e8e8;

$saphire:#937628;


