   <header>
        <nav class="header-top  navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header navbar-header-wrapper" role="navigation">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <div class="logoHldr">
                        <a href="/">  
                            <span class="brand"><img src="../assets/img/logo.png" alt="Talbert" /></span>
                            <div class="brandTxt">Talbert Architectural Panels &amp; Doors</div>
                        </a> 
                    </div> 
                </div>
                <div class="collapse navbar-collapse noPadding navbar-collapse">  
                    <div class="navigationWrapper"> 
                        <ul class="IconsHldr">
                            <li><a href="inner.html"></a></li> 
                            <li><a href="quote-preview.html"></a></li> 
                            <li><a href="#"><img src="../assets/img/collapse.png" alt="" /></a></li>  
                        </ul> 
                        <ul class="right-nav navbar-right navHldr">
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="inner.html">Estimate Dashboard</a>
                                <ul class="dropdown-menu">
                                    <li><a href="quote-preview.html">Quote Preview</a></li>
                                    <li><a href="doors.html">Doors Order Entry</a></li>
                                    <li><a href="material-list.html">Material List</a></li>
                                    <li><a href="product-manager.html">Product Manager</a></li>
                                    <li><a href="vendor-manager.html">Vendor Manager</a></li>
                                    <li><a href="customer-manager.html">Customer Manager</a></li>
                                    <li><a href="vendor-manager-history.html">Vendor Manager History</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Mike Talbert</a></li>
                            <li><a href="#" (click)="logout()"><span class="lock-icon"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>