.warning-block{padding-top:5px; font-size: 14px; color: #D8000C; text-transform: capitalize;}
.has-danger .form-control{border:1px solid #D8000C;}
.success-message{color: #a2b70f; line-height: 18px; font-weight: 700; text-transform: uppercase; padding:2px 0px; margin-bottom: 7px; margin-top: 7px; margin-left: 30%;}